 *{
    margin: 0;
    padding: 0;
 }

/********General outline***********/
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #343a40;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #333;;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}


/********************************/


main {
    min-height: 100vh;   
    background-color: #e9f7ec;
}




 nav{
    margin: 0px 90px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }

 nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;

}
nav ul li {
    list-style: none;
    text-transform: uppercase;   
}

nav ul li a {
    padding: 20px;
    color: #28a745;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;



}

nav .clickable-nav li a:hover {
    transform: scale(1.15);

}
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #28a745;
    margin: 5px;
    transition: all 0.3s ease;
}



/* Prevent scrolling when menu is open */
body.no-scroll {
    overflow: hidden;
}

.logo {
    font-size: 18px;
    color: #28a745;
}

.cta {
    background-color: #28a745;
    color: #ffff;
    border-radius: 100000px;
    transition: all 0.4s ease;

}

.cta a{
    padding: 3px 15px;
    color: #ffff;
}

.cta:hover{
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.6); /* Inner shadow effect */
}




/****************************Hero Section***********************************/

.center {
    width: 650px;
    margin: 0 auto;
}

.hero-section{
    margin-top: 96px;
}

.hero-header{
    color: #28a745;
    text-align: center;
    font-weight: 900;
    font-size: 64px;
}

.hero-quote{
    margin-top: 36px;
    text-align: center;
}

.hero-buttom{
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.hero-buttom-items{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 20px 50px;
    font-size: 24px;
    text-transform: uppercase;
    list-style-type: none;
}

.hero-buttom a{
    color: #28a745;
    text-align: center;
}


.button-cta a{
    color: #ffff;
    padding: 0 0px;
}
.button-cta{
    background-color: #28a745;
    color: #ffff;
    border: 1px solid;
    border-radius: 100000px;
    transition: all 0.3s ease-in-out;


}

.button-cta:hover{
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.6); /* Inner shadow effect */
    transform: scale(1.03);
}

.stories-cta{
    transition: all 0.3s ease-in-out;
}

.stories-cta:hover{
    transform: scale(1.03);

}


/****************************About us Section***********************************/

.about-us-section{
    margin-top: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-text{
    margin-top: 100px;
    margin-left: 100px;
}

.what-we-do{
    font-size: 20px;
    
}

.about-us-header{
    margin-top: 36px;
    font-size: 48px;
    line-height: 0.9;
}

.about-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.about-paragraph{
    margin-top: 48px;
    padding-right:100px;
}

.new-line{
    margin-top: 24px;
    margin-bottom: 48px;
}

.about-us-cta{
    color: #343a40;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    border: solid 2px #343a40;
    padding: 15px 30px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}

.about-us-cta:hover{
    background-color: #28a745;
    color: #ffff;
    border: solid 2px #28a745;
}


/****************************Stories Section***********************************/

.stories-section{
    margin-top: 96px;
    background-color: #e9f7ec;
    
}





.stroies-section-grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 6 equal columns */
    grid-template-rows: repeat(2, 230px); /* 2 equal rows */
    gap: 28px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 48px;
}

.stories-header{
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
    padding-top: 48px;
}
.sub-heading-stories{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.stories-section div h3{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 84px;
}

.stories-section div h4{
    font-size: 48px;
    font-weight: 800;
}

.green{
    background-color: #b9faca;
    border-radius: 20px;
    padding: 20px;
}

.green h4{  
    font-weight: 800;
    font-size: 48px;
}

.pink{
    background-color: #eeb9fa;
    border-radius: 20px;
    padding: 20px;

}

.yellow{
    background-color: #fae2b0;
    border-radius: 20px;
    padding: 20px;
}

.red{
    background-color: #fabab9;
    border-radius: 20px;
    padding: 20px;
}

.blue{
    background-color: #b9dafa;
    border-radius: 20px;
    padding: 20px;
}

.second-column{
    grid-column: 2/4;
}

.first-img{
    grid-column: 4/6;
    grid-row: 1/3;
}

.second-img{
    grid-row: 2;
    grid-column: 1/3;
}

.Services{
    margin-top: 84px;
    height: 100vh;
}

.Services-header{
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
}

.services-subheader{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 64px;
}

.prices-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.prices-flex div{
    border: #e9f7ec solid 4px;
    padding: 12px 36px;
    background-color: #e9f7ec;
    border-radius: 20px;
}

.prices-flex div h4{
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
}

.prices-flex div h2{
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;


}

.prices-flex div ul{
        color: #333;
        list-style: none;
        font-family: "Inter", sans-serif;
        line-height: 2.7;
        font-weight: 600;
        margin-bottom: 30px;

}

.prices-flex div a{
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 120px;
    background-color: #28a745;
    border-radius: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.prices-flex div a:hover{
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.6); /* Inner shadow effect */

}
